extends ../layout/common 

block content
    h1 User List
    a(href="/users/create") Add
    form(action="/users/search", method="GET", class="form-group d-flex") 
        input(type="text", name="q", value=q, class="form-control")
        button Search
    table.table
        tr 
            th Name
            th Phone
            th Action
        
        each user in users 
            tr
                td= user.name 
                td= user.phone
                td 
                    a(href="/users/" + user.id) View