extends ../layout/common 

block content
    h1 User List
    a(href="/users/create") Add
    form(action="/users/search", method="GET", class="form-group d-flex") 
        input(type="text", name="q", value=q, class="form-control")
        button Search
    table.table
        tr 
            th Avatar
            th Email
            th Action
        
        each user in users 
            tr
                td
                    img(src=user.avatar, width= 32)
                td= user.email 
                td 
                    a(href="/users/" + user.id) View